  /* Global Styling */

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  /* global hearder configurate */
  header {
    height: 125px;
    display: flex;
    align-items: center;
    background-color: #024082;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  /* logo styling */
  .logo-container {
    height: 110px;
    flex-grow: 1;
  }

  .logo-container a img {
    height: 100%;
    width: auto;
  }

  /* navbar styling */
  header nav ul {
    list-style: none;
    display: flex;
  }

  header nav ul li {
    padding: 0px 15px;
    text-shadow: 1px 1px black;
  }

  header nav ul li a:hover {
    background-color: lightblue;
    border-radius: 12px;
    color: black;
    text-shadow: none;
  }

  header nav ul li a {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto';
    text-decoration: none;
  }

  /*footer styling*/
  footer {
    padding: 5%;
    background-color: #024082;
  }

  .footer {
    display: flex;

  }

  .footer div {
    width: 100%;

  }

  .footer div ul li {
    color: #fff;
    text-shadow: 1px 1px black;
    font-size: 1em;
    font-family: inherit;
    list-style: none;
    margin: 15px;

  }

  .footer div ul li a {
    color: #fff;
    text-decoration: none;
  }

  .footer div ul li a:hover {
    color: black;
    cursor: pointer;
  }

  /* Services Page style */
  main {
    text-align: center;

  }

  .partTwo {
    display: flex;

  }

  .partTwo div {
    width: 100%;
    margin: 5%;
  }

  .free div p {
    border-style: solid;
    border-color: #024082;
    border-radius: 12px;
    background-color: #024082;
    color: #fff;
    width: 20%;
    height: auto;
    padding: 2%;
    margin-left: 38%;
  }

  /* services part one and two styling */
  .list1 {
    display: flex;

  }

  .list1 div {
    width: 100%;
    height: auto;
  }

  .list1 div img {
    width: 100%;
    height: auto;
  }

  .list2 {
    display: flex;
  }

  .list2 div {
    width: 100%;

  }

  .list2 div img {
    width: 100%;
  }


  /* CONTACT PAGE */

  .contact-img-container {
    height: 450px;
    width: 100%;
    background-image: url("../img/bloackbuster-wallpaper1.jpg");
    background-size: cover;
    border-bottom: 3px solid #000;
  }

  .contact-container {
    width: 80%;
    margin: 80px auto;
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    padding-top: 5px;
    background-color: #fff;
  }

  .contact-container h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  .contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;

  }

  .contact-container p {
    margin-bottom: 40px;
    text-align: center;
  }

  .contact-box {
    background-color: #fff;
    display: flex;
  }

  .contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
  }

  .contact-right {
    border-left: 3px solid #FFE20A;
    flex: 40%;
    padding: 40px;
    background-color: #024082;
    color: #FFE20A;
  }

  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input-row .input-group {
    flex-basis: 45%;
  }

  .input-row .input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }

  .contact-box textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .contact-box label {
    margin-bottom: 6px;
    display: block;
    color: #024082;
  }

  .contact-box button {
    font-family: inherit;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #024082;
    width: 100px;
    border: none;
    color: #fff;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  }

  .contact-right table tr td:first-child {
    padding-right: 20px;
  }

  .contact-right table tr td {
    padding-top: 20px;
  }

  /* ABOUT PAGE */

  .about-img-container {
    height: 500px;
    width: 100%;
    background-image: url("../img/bloackbuster-store.jpg");
    background-size: cover;
    border-bottom: 3px solid #000;
  }

  .about-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }

  .about-heading h1 {
    font-size: 50px;
    color: #024082;
    margin: 20px 25px;
    position: relative;
  }

  .about-heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #FFE20A;
  }

  .about-heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
  }

  .about-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px 20px;
  }

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }

  .about-image:hover img {
    transform: scale(1.1);
  }

  .about-content {
    flex: 1;
  }

  .about-content h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #024082;
  }

  .about-content p {
    text-align: left;
    margin-top: 0;
  }

  .about-content {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }

  .about-content .read-more {
    color: #FFE20A;
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
    background-color: #024082;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  }

  .about-content .read-more:hover {
    background-color: #1c00b5;
    color: #fff;
  }


  /* ADDITIONAL HOME PAGE */

  /* CAROUSEL */

  .carousel-container {
    width: 60%;
    height: 65vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    z-index: 1;
  }

  .carousel {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
  }

  .carousel img:last-child {
    width: 110%;
    height: 110%;
  }

  .carousel img:nth-child(3) {
    width: 100%;
    height: 100%;
    margin-top: 80px;
  }


  /* HOME PAGE + SERVICES */

  /* Services Page style */
  .partOne {
    text-align: center;
    margin-top: 50px;
  }

  .partOne div h1 {

    font-size: 2.5em;
    text-shadow: 1px 1px yellow;
  }

  .partOne div p {

    border-bottom: 6px solid yellow;
    margin-bottom: 3%;
  }

  .partTwo {
    text-align: center;
  }

  .partTwo div p {
    border-bottom: 6px solid yellow;
    margin-bottom: 3%;
  }

  /* Service plans panel styling*/

  .panel {
    display: flex;
    text-align: center;
    padding: 15px 25px;
    text-transform: uppercase;
    background-color: white;

  }

  .pricing-header {
    color: yellow;
  }

  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    border: 2px solid #024082;
    border-radius: 50px;
    margin: 1%;
    font-size: 1.0em;
    background-color: #4f7aa9;
  }

  .pricing-plan:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  }

  .pricing-plan:last-child {
    border-bottom: none;
  }

  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;

  }

  .pricing-features {
    margin: 50px 0 25px;
    color: yellow;
  }

  .pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;

    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
    list-style: none;
    font-size: 1.0em;
  }

  .pricing-features-item:last-child {
    border-bottom: 1px solid lightskyblue;
  }

  .pricing-price {
    color: yellow;
    display: block;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .pricing-button {
    border: 2px solid yellow;
    border-radius: 10px;
    color: yellow;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;

  }

  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #024082;
    color: #fff;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  }


  /* accordian Style */

  .mainaccordion {
    box-sizing: border-box;
    justify-content: center;
    min-height: 15vh;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    height: 50vh;
    width: auto;
  }

  .content ul li {
    list-style: none;
    margin: 3%;
    text-align: left;
  }

  .btn {
    text-decoration: none;
    background-color: #23578f;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 10px;
    justify-content: center;
    text-align: center;

  }

  .accordion {
    width: 600px;
  }

  .contentBox {
    position: relative;
    margin: 10px 20px;
  }

  .label {
    position: relative;
    padding: 20px;
    background-color: #024082;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 10%;

  }

  .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }

  .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    background-color: lightyellow;
  }

  .accordion .contentBox.active .content {
    height: 150px;
    padding: 10px;
    text-align: center;
  }

  .accordion .contentBox.active .label::before {
    content: '-';
  }

  /* accordion Style for question and Answer */
  .aq {
    text-align: center;
    margin-bottom: 20px;
  }

  .mainaccordion2 {
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: hidden;
  }

  .accordion2 {
    width: 100%;
  }

  .contentBox2 {
    position: relative;
    margin: 10px 20px;
  }

  .label2 {
    position: relative;
    padding: 10px;
    background-color: #024082;
    color: #fff;
    cursor: pointer;
    text-align: left;
  }

  .label2::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }

  .content2 {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    background-color: lightyellow;
    text-align: left;
  }

  .content2 p {
    text-align: left;
  }

  .accordion2 .contentBox2.active .content2 {
    height: 90px;
    padding: 10px;
    text-align: center;
  }

  .accordion2 .contentBox2.active .label2::before {
    content: '-';
  }



  /* index gallery */

  /* style */
  .movies {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #024082;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .movies h1 {
    font-size: 2.5em;
    text-shadow: 1px 1px black;
    text-decoration: underline yellow;
  }

  .list1 {
    display: flex;
  }

  .list1 div {
    width: 50%;
    height: auto;

  }

  .list1 div img {
    width: 90%;
    height: 80%;
    margin: 3%;

  }

  .list2 {
    display: flex;

  }

  .list2 div {
    width: 100%;

  }

  .list2 div img {
    width: 90%;
    margin: 3%;
    height: 80%;
  }

  .list2 div img:hover {
    border: solid 3px #024082;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  }

  .list1 div img:hover {
    border: solid 3px #024082;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  }

  .list3 {
    display: flex;

  }

  .list3 div {
    width: 100%;

  }

  .list3 div img {
    width: 90%;
    margin: 3%;
    height: 80%;
  }

  .list3 div img:hover {
    border: solid 3px #024082;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  }

  .btnT {
    width: 50%;
    margin-left: 20%;
    color: yellow;
    background-color: #024082;
    border-radius: 10px;
    padding: 3%;
    cursor: pointer;
  }

  /* styling watching panel */
  .mainW {
    background-color: black;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 70vh;
  }

  .titleW {
    display: flex;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 3%;
  }

  .titleW div {
    width: 80%;
    text-align: center;
    align-items: center;

  }

  .menuW {
    font-family: 'Montserrat Alternates', sans-serif;
    list-style: none;

  }

  .menuW li {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 3%;
    color: #fff;
  }

  .mainW div h1 {
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.0em;
  }

  .options i {
    margin-bottom: 10%;
  }